<div class="auth-form">
  <div class="auth-form-login">
    <mat-card>
        <form (submit)="onSubmit()" [formGroup]="loginForm">
            <mat-form-field>
              <input matInput formControlName="nickName" placeholder="Enter Nickname">
              <mat-error>Required</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input type="password" matInput formControlName="password" placeholder="Enter Password">
              <mat-error>Required</mat-error>
            </mat-form-field>
            <br>
            <button mat-raised-button color="accent" type="submit">LOGIN</button>
          </form>
          <mat-card-footer>
            <div class="auth-form-login-footer">
              <a routerLink="/singup">Or sing up</a>
            </div>
          </mat-card-footer>
    </mat-card>
  </div>
</div>
