<mat-card>
  <form (submit)="createExercise()" [formGroup]="createExerciseForm">
    <mat-form-field>
      <input type="text" matInput placeholder="ApiModels name" formControlName="title">
    </mat-form-field>
    <div class="information" formGroupName="information">
      <mat-form-field>
        <textarea matInput cols="30" rows="10" placeholder="write exercise description" formControlName="description"></textarea>
      </mat-form-field>
      <div class="muscles" formArrayName="targetMuscle" *ngFor="let target of createExerciseForm.get('information.targetMuscle').controls; let i = index;">
          <mat-form-field>
            <input type="text" formControlName="{{i}}" matInput style="width: 100%" [placeholder]="i + 1">
          </mat-form-field>
      </div>
      <button type="button" mat-mini-fab color="primary" (click)="addTargetMuscle()">+</button>
    </div>
    <button type="submit" mat-stroked-button color="primary">{{ buttonName }}</button>
    <button type="button"  mat-stroked-button color="accent" (click)="ocCloseModal()">Close</button>
  </form>
</mat-card>
